@mixin flexbox-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}
@mixin flex-sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 360px;
}
/* mixin price-card */
@mixin price-text {
    color: #86878b;
    font-family: $font-os;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
@mixin price-size {
    padding-top: 14px;
    padding-bottom: 14px;
    width: 343px;
}
/* END mixin price-card */