@mixin flexbox-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}
@mixin flex-sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 360px;
}