// Navigation bar
.header {
    &__wrapper {
        @include row-flex;
        @include container;
        align-items: center;
        justify-content: space-around;
        max-width: 1400px;
        height: 72px;
        background: $color-secondary;
    }
    &__logo-image {
        max-width: 79px;
        height: 27px;
    }
    &__menu {
        & ul {
            display: flex;
            flex-direction: row;
            & :not(:last-child) {
                margin-right: 47px;
            }

            & li {
                list-style-type: none;
                position: relative;
                & :hover:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin-bottom: -5px;
                    border-bottom: 3px solid $color-main;
                }

                & a {
                    text-decoration: none;
                    opacity: 0.69;
                    color: #ffffff;
                    font-family: $font-os;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}
// END Navigation bar

// Brand information
.brand {
    @include container;
    display: flex;
    justify-content: center;
    max-width: 1400px;
    background: #9a9a9a;

    @media (min-width: 20rem) {

    }
    &__wrapper {
        @include row-flex;

        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1111px;
        padding-top: 110px;
        padding-bottom: 133px;

        @media (min-width: 20rem) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    &__brand-bar {
        @include col;
        @include size(6);
        @include size-xl(6);
        @include size-lg(6);
        @include size-md(6);
        @include size-sm(12);
        @include size-xs(12);

        width: 100%;
        max-width: 515px;
    }
    &__logo {
        margin-bottom: 33px;
    }
    &__title {
        position: relative;
        color: #ffffff;
        font-family: $font-raleway;
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 82px;
        &:before {
            content: "";
            position: absolute;
            top: 106px;
            right: 0;
            bottom: 0;
            left: 0;
            width: 64px;
            height: 3px;
            background: #ffffff;
        }
    }
    &__subtitle {
        opacity: 0.8;
        color: #ffffff;
        font-family: $font-raleway;
        font-size: 16px;
        font-weight: 300;
        line-height: 23px;
        margin-bottom: 44px;
    }
    &__button {
        width: 135px;
        height: 42px;
        border: 2px solid #ffffff;
        background: #9a9a9a;
        &:hover {
            border: 0;
            background: $color-main;
        }
    }
}
// END Brand information

// sign up
.sign-up {
    @include col;
    @include size(5);
    @include size-xl(5);
    @include size-lg(5);
    @include size-md(6);
    @include size-sm(12);
    @include size-xs(12);

    @media (min-width: 75rem) {
        width: 100%;
        max-width: 360px;
    }

    @media (min-width: 20rem) {
        max-width: 600px;
        margin: 70px auto 0;
        &__form {
            width: 100%;
            max-width: 600px;
        }
        &__input {
            max-width: 500px;
        }
        &__button {
            max-width: 600px;
        }
    }

    &__title {
        text-align: center;
        line-height: 54px;

        height: 54px;
        background: #f5f5f5;
        color: #333333;
        font-family: $font-os;
        font-size: 20px;
        font-weight: 700;
    }
    &__span {
        color: #ff8b38;
    }
    &__form {
        @include flex-sign-up;
        flex-wrap: wrap;
        align-content: space-around;
        height: 255px;
        background: #ffffff;
    }
    &__input {
        width: 285px;
        height: 31px;
        box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
        border: 0;

        color: #bdbdbd;
        font-family: $font-os;
        font-size: 14px;
        font-weight: 400;
        &::placeholder {
            color: #bdbdbd;
            font-family: $font-os;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__button {
        width: 100%;
        max-width: 360px;
        height: 54px;
        border: 0;
        background: $color-main;
        &:hover {
            background: #000000;
        }
    }
}
// END sign up
