.header {

    &__wrapper {
        @include flexbox-container;

        align-items: center;
        justify-content: space-around;
        height: 72px;
        background: $color-secondary;
    }
    &__logo-image {
        max-width: 79px;
        height: 27px;
    }
    &__menu {
        & ul {
            display: flex;
            flex-direction: row;
            & :not(:last-child) {
                margin-right: 47px;
            }

            & li {
                list-style-type: none;
                position: relative;
                & :hover:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin-bottom: -5px;
                    border-bottom: 3px solid $color-main;
                }

                & a {
                    text-decoration: none;
                    opacity: 0.69;
                    color: #ffffff;
                    font-family: $font-os;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}

