.main {
    @include container();
}
.futures-one {
    @include container();


    background-color: #f5f5f5;
    &__tab-bar {}
    &__wrapper {
        @include row-flex();

        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;
        padding-top: 147px;
        padding-bottom: 138px;
    }
    &__info {
        width: 100%;
        max-width: 476px;
    }
    &__button {}
    &__img {}
}

.tab-bar {
    &__elem {
        width: 112px;
        height: 112px;
        background-color: #333333;
    }
}

.info {
    &__wrapper {

    }
    &__title {

    }
    &__subtitle {

    }
}
