.main {
    @include container();
    max-width: 1400px;
}

/* futures-one block */
.futures-one {
    background-color: #f5f5f5;
    &__tab-bar {}
    &__wrapper {
        @include row-flex();

        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;
        padding-top: 147px;
        padding-bottom: 138px;
    }
    &__info {
        width: 100%;
        max-width: 476px;
    }
    &__wrapper-info {
        margin-bottom: 51px;
    }
    &__title {
        margin-bottom: 52px;
    }
    &__subtitle {
        margin-bottom: 26px;
        text-align: justify;
    }
    &__button {
        width: 121px;
        height: 46px;
        background-color: $color-main;
        border: 0;
        border-radius: 3px;
        &:hover {
            background-color: $color-secondary;
        }
    }
    &__img {}
}

.tab-bar {
    &__elem {
        width: 112px;
        height: 112px;
        background-color: #333333;

        color: #ffffff;
        font-family: $font-os;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 112px;
        &:hover {
            background-color: $color-main;
            cursor: pointer;
        }
    }
}

.subtitle {
    &__span {
        color: #86878b;
        font-family: $font-os;
        font-size: 14px;
        font-weight: 400;
    }
}
/* END futures-one block */

/* futures-two block */
.futures-two {
    &__wrapper {
        @include row-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
        padding-top: 107px;
        padding-bottom: 110px;
    }

    &__img {
        width: 453px;
        height: 303px;
        background-color: #9a9a9a;
    }

    &__info {
        width: 100%;
        max-width: 434px;
    }

    &__title {
        margin-bottom: 61px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 46px;
            right: 0;
            bottom: 0;
            left: 0;
            width: 64px;
            height: 2px;
            background-color: $color-main;
        }
    }

    &__subtitle {
        margin-bottom: 46px;
    }

    &__items {

    }

    &__item {

    }
}

.item {
    &__title {
        color: #212121;
        font-family: $font-os;
        font-size: 14px;
        font-weight: 400;
    }
    &__subtitle {
        color: #86878b;
        font-family: $font-os;
        font-size: 14px;
        font-weight: 400;
    }
}

/* END future-two block*/
