.social {
    @include flexbox-container;
    align-items: center;
    justify-content: space-around;

    height: 105px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
    background-color: #ffffff;
    &__info {
        width: 100%;
        max-width: 360px;
        font-family: $font-os;
    }
    &__title {
        color: #333333;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
    }
    &__subtitle {
        color: #86878b;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    &__network {
    }
}
.socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 634px;
}
.icon {
    cursor: pointer;
    font-size: 48px;
    color: #cccccc;
}

/* icons style */
/*.fa-facebook-f {
    font-size: 48px;
    color: #cccccc;
}
.fa-twitter {
    font-size: 48px;
    color: #cccccc;
}
.fa-google-plus-g {
    font-size: 48px;
    color: #cccccc;
}
.fa-pinterest {
    font-size: 48px;
    color: #cccccc;
}
.fa-instagram {
    font-size: 48px;
    color: #cccccc;
}
.fa-stumbleupon {
    font-size: 48px;
    color: #cccccc;
}
.fa-wifi {
    font-size: 48px;
    color: #cccccc;
}*/
/* END icons style */